In [71]:
import pandas as pd

# Charger les données depuis le fichier CSV en utilisant Pandas
# sep=';' correspond à delimiter=';'

data_df = pd.read_csv("diabetes.csv", sep=";")

In [72]:
# Afficher les premières lignes pour vérifier (optionnel)
print(data_df.head())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1

In [73]:
# Afficher les informations sur le DataFrame (types de données, non-nulls) (optionnel)
print(data_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None

In [74]:
data_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [75]:
data_df.shape

(768, 9)

In [76]:
# Assumant que 'data_df' est le DataFrame créé dans la cellule précédente

# Sélectionner les colonnes en utilisant l'indexation basée sur la position entière (.iloc)
# : signifie "toutes les lignes"
# :8 signifie "colonnes depuis l'index 0 jusqu'à (mais non inclus) l'index 8"
features_df = data_df.iloc[:, :8]

In [77]:
# Afficher les premières lignes du nouveau DataFrame (optionnel)
print(features_df.head())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age
0                     0.627   50
1                     0.351   31
2                     0.672   32
3                     0.167   21
4                     2.288   33

In [78]:
# Afficher les informations sur le DataFrame des features (optionnel)
print(features_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 48.1 KB
None

In [79]:
features_df.shape

(768, 8)

In [80]:
# Assumant que 'data_df' est le DataFrame créé précédemment

# Sélectionner la colonne à l'index 8 en utilisant .iloc
# : signifie "toutes les lignes"
# 8 signifie "colonne à l'index 8"
target_series = data_df.iloc[:, 8]

In [81]:
# Afficher les premières valeurs de la Series (optionnel)
print(target_series.head())

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [82]:
# Afficher le type pour confirmer (optionnel)
print(type(target_series))

<class 'pandas.core.series.Series'>

In [83]:
# Afficher le nom de la colonne (si lu depuis l'en-tête) (optionnel)
print(target_series.name)

Outcome

In [84]:
target_series.shape

(768,)

In [85]:
# Assumant que 'features_df' est le DataFrame contenant les features

# Calculer la moyenne de chaque colonne dans le DataFrame features_df
# L'axe 0 (par défaut pour la plupart des méthodes de DataFrame comme .mean())
# signifie calculer la statistique pour chaque colonne (en agrégeant sur les lignes).
moyfeat_series = features_df.mean(axis=0)

In [86]:
# Afficher la Series résultante (index = noms de colonnes, valeurs = moyennes)
print(moyfeat_series)

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
dtype: float64

In [87]:
# Afficher le type pour confirmer (optionnel)
print(type(moyfeat_series))

<class 'pandas.core.series.Series'>

In [88]:
# Assumant que 'features_df' est le DataFrame contenant les features

# Calculer l'écart-type de chaque colonne dans le DataFrame features_df
# L'axe 0 (par défaut pour .std()) signifie calculer la statistique pour chaque colonne.
ecartfeat_series = features_df.std(axis=0)

In [89]:
# Afficher la Series résultante (index = noms de colonnes, valeurs = écarts-types)
print(ecartfeat_series)

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
dtype: float64

In [90]:
# Afficher le type pour confirmer (optionnel)
print(type(ecartfeat_series))

<class 'pandas.core.series.Series'>

In [91]:
# Assumant que 'features_df' est le DataFrame contenant les features

# Calculer la valeur minimale de chaque colonne dans le DataFrame features_df
# L'axe 0 (par défaut pour .min()) signifie calculer la statistique pour chaque colonne.
minfeat_series = features_df.min(axis=0)

In [92]:
# Afficher la Series résultante (index = noms de colonnes, valeurs = minimums)
print(minfeat_series)

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
dtype: float64

In [93]:
# Afficher le type pour confirmer (optionnel)
print(type(minfeat_series))

<class 'pandas.core.series.Series'>

In [94]:
# Assumant que 'features_df' est le DataFrame contenant les features

# Calculer la valeur maximale de chaque colonne dans le DataFrame features_df
# L'axe 0 (par défaut pour .max()) signifie calculer la statistique pour chaque colonne.
maxfeat_series = features_df.max(axis=0)

In [95]:
# Afficher la Series résultante (index = noms de colonnes, valeurs = maximums)
print(maxfeat_series)

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
dtype: float64

In [96]:
# Afficher le type pour confirmer (optionnel)
print(type(maxfeat_series))

<class 'pandas.core.series.Series'>

In [97]:
# Assumant que 'features_df', 'moyfeat_series', et 'ecartfeat_series' existent

# Calculer les features normalisées (standardisation Z-score)
# Pandas aligne automatiquement les colonnes du DataFrame avec l'index des Series
# lors des opérations arithmétiques (+, -, *, /).
features_norm_df = (features_df - moyfeat_series) / ecartfeat_series

In [98]:
# Afficher les informations sur le DataFrame normalisé (optionnel)
print(features_norm_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    float64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    float64
dtypes: float64(8)
memory usage: 48.1 KB
None

In [99]:
# Vérifier que les moyennes sont proches de 0 et les écarts-types proches de 1 (optionnel)
print("\nMoyennes des features normalisées (proches de 0 attendues) :")
print(features_norm_df.mean(axis=0))
print("\nÉcarts-types des features normalisées (proches de 1 attendus) :")
print(features_norm_df.std(axis=0)) # Note: si ecartfeat_series utilisait ddof=0, utiliser ddof=0 ici aussi pour la vérification.

Moyennes des features normalisées (proches de 0 attendues) :
Pregnancies                -6.938894e-17
Glucose                    -1.156482e-17
BloodPressure               1.272131e-17
SkinThickness               9.367507e-17
Insulin                    -1.676899e-17
BMI                         2.613650e-16
DiabetesPedigreeFunction    2.359224e-16
Age                         2.104798e-16
dtype: float64

Écarts-types des features normalisées (proches de 1 attendus) :
Pregnancies                 1.0
Glucose                     1.0
BloodPressure               1.0
SkinThickness               1.0
Insulin                     1.0
BMI                         1.0
DiabetesPedigreeFunction    1.0
Age                         1.0
dtype: float64

In [100]:
# Afficher les 5 premières lignes en utilisant .iloc pour l'indexation positionnelle
print(features_norm_df.iloc[:5])

   Pregnancies   Glucose  BloodPressure  SkinThickness   Insulin       BMI  \
0     0.639530  0.847771       0.149543       0.906679 -0.692439  0.203880
1    -0.844335 -1.122665      -0.160441       0.530556 -0.692439 -0.683976
2     1.233077  1.942458      -0.263769      -1.287373 -0.692439 -1.102537
3    -0.844335 -0.997558      -0.160441       0.154433  0.123221 -0.493721
4    -1.141108  0.503727      -1.503707       0.906679  0.765337  1.408828

   DiabetesPedigreeFunction       Age
0                  0.468187  1.425067
1                 -0.364823 -0.190548
2                  0.604004 -0.105515
3                 -0.920163 -1.040871
4                  5.481337 -0.020483

In [101]:
# Assumant que 'data_df' est le DataFrame original chargé depuis diabetes.csv

# 1. Vérifier le nom de la colonne à l'index 1 (la deuxième colonne)
column_name_at_index_1 = data_df.columns[1]
print(f"Le nom de la colonne à l'index 1 est : '{column_name_at_index_1}'") # Ex: 'Glucose'

Le nom de la colonne à l'index 1 est : 'Glucose'

In [102]:
# 2. Créer le masque booléen en utilisant le nom de la colonne
glucosemask_series = data_df[column_name_at_index_1] > 125

In [103]:
# Afficher la Series booléenne résultante
print(glucosemask_series)

0       True
1      False
2       True
3      False
4       True
       ...
763    False
764    False
765    False
766     True
767    False
Name: Glucose, Length: 768, dtype: bool

In [104]:
# Afficher les premières lignes pour voir le format (optionnel)
print("\nPremières lignes du masque booléen:")
print(glucosemask_series.head())

Premières lignes du masque booléen:
0     True
1    False
2     True
3    False
4     True
Name: Glucose, dtype: bool

In [105]:
# Afficher le type pour confirmer (c'est une Series Pandas) (optionnel)
print(f"\nType de l'objet résultant: {type(glucosemask_series)}")

Type de l'objet résultant: <class 'pandas.core.series.Series'>

In [106]:
# Afficher combien de valeurs sont True et False (optionnel)
print("\nNombre de True et False dans le masque:")
print(glucosemask_series.value_counts())

Nombre de True et False dans le masque:
Glucose
False    471
True     297
Name: count, dtype: int64

In [107]:
# Assumant que 'data_df' est le DataFrame original et
# 'glucosemask_series' est la Series booléenne créée à l'étape précédente
# (contenant True pour les lignes où la colonne Glucose > 125)

# Appliquer le masque booléen au DataFrame original pour sélectionner les lignes correspondantes
glucosesupa125_df = data_df[glucosemask_series]

In [108]:
# Afficher les premières lignes du DataFrame filtré (optionnel)
print(glucosesupa125_df.head())

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35        0  33.6
2             8      183             64              0        0  23.3
4             0      137             40             35      168  43.1
8             2      197             70             45      543  30.5
11           10      168             74              0        0  38.0

    DiabetesPedigreeFunction  Age  Outcome
0                      0.627   50        1
2                      0.672   32        1
4                      2.288   33        1
8                      0.158   53        1
11                     0.537   34        1

In [109]:
# Afficher les dimensions du DataFrame filtré (nombre de lignes, nombre de colonnes) (optionnel)
print(f"\nDimensions du DataFrame filtré : {glucosesupa125_df.shape}")

Dimensions du DataFrame filtré : (297, 9)

In [110]:
# Afficher les informations sur le DataFrame filtré (optionnel)
print("\nInformations sur le DataFrame filtré:")
print(glucosesupa125_df.info())

Informations sur le DataFrame filtré:
<class 'pandas.core.frame.DataFrame'>
Index: 297 entries, 0 to 766
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               297 non-null    int64
 1   Glucose                   297 non-null    int64
 2   BloodPressure             297 non-null    int64
 3   SkinThickness             297 non-null    int64
 4   Insulin                   297 non-null    int64
 5   BMI                       297 non-null    float64
 6   DiabetesPedigreeFunction  297 non-null    float64
 7   Age                       297 non-null    int64
 8   Outcome                   297 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 23.2 KB
None

In [111]:
# Assumant que 'data_df' est le DataFrame original

# 1. Vérifier le nom de la colonne à l'index 5 (la sixième colonne)
column_name_at_index_5 = data_df.columns[5]
print(f"Le nom de la colonne à l'index 5 est : '{column_name_at_index_5}'") # Ex: 'BMI'

Le nom de la colonne à l'index 5 est : 'BMI'

In [112]:
# 2. Créer le masque booléen en utilisant le nom de la colonne
bmimask_series = data_df[column_name_at_index_5] > 30

In [113]:
# Afficher la Series booléenne résultante
print(bmimask_series)

0       True
1      False
2      False
3      False
4       True
       ...
763     True
764     True
765    False
766     True
767     True
Name: BMI, Length: 768, dtype: bool

In [114]:
# Afficher les premières lignes (optionnel)
print("\nPremières lignes du masque BMI:")
print(bmimask_series.head())

Premières lignes du masque BMI:
0     True
1    False
2    False
3    False
4     True
Name: BMI, dtype: bool

In [115]:
# Afficher le type (c'est une Series Pandas) (optionnel)
print(f"\nType de l'objet résultant: {type(bmimask_series)}")

Type de l'objet résultant: <class 'pandas.core.series.Series'>

In [116]:
# Afficher combien de valeurs sont True et False (optionnel)
print("\nNombre de True et False dans le masque BMI:")
print(bmimask_series.value_counts())

Nombre de True et False dans le masque BMI:
BMI
True     465
False    303
Name: count, dtype: int64

In [117]:
# Assumant que 'data_df' est le DataFrame original, et que
# 'glucosemask_series' (Glucose > 125) et 'bmimask_series' (BMI > 30)
# sont les Series booléennes créées précédemment.

# Combiner les deux masques avec un ET logique (&)
# Pandas effectue une opération ET élément par élément, alignée sur l'index.
combined_mask = glucosemask_series & bmimask_series

In [118]:
# Appliquer le masque combiné au DataFrame original pour filtrer les lignes
glucosesupa125etBMIsupa30_df = data_df[combined_mask]

In [119]:
# Afficher les premières lignes du DataFrame filtré (optionnel)
print(glucosesupa125etBMIsupa30_df.head())

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35        0  33.6
4             0      137             40             35      168  43.1
8             2      197             70             45      543  30.5
11           10      168             74              0        0  38.0
13            1      189             60             23      846  30.1

    DiabetesPedigreeFunction  Age  Outcome
0                      0.627   50        1
4                      2.288   33        1
8                      0.158   53        1
11                     0.537   34        1
13                     0.398   59        1

In [120]:
# Afficher les dimensions du DataFrame filtré (optionnel)
print(f"\nDimensions du DataFrame filtré (Glucose > 125 ET BMI > 30) : {glucosesupa125etBMIsupa30_df.shape}")

Dimensions du DataFrame filtré (Glucose > 125 ET BMI > 30) : (214, 9)

In [121]:
# Vérifier les valeurs de Glucose et BMI dans le résultat (optionnel)
# Remplacer 'Glucose' et 'BMI' par les vrais noms si différents
glucose_col_name = data_df.columns[1] # Ex: 'Glucose'
bmi_col_name = data_df.columns[5]     # Ex: 'BMI'
print(f"\nQuelques valeurs de '{glucose_col_name}' et '{bmi_col_name}' dans le résultat:")
print(glucosesupa125etBMIsupa30_df[[glucose_col_name, bmi_col_name]].head())

Quelques valeurs de 'Glucose' et 'BMI' dans le résultat:
    Glucose   BMI
0       148  33.6
4       137  43.1
8       197  30.5
11      168  38.0
13      189  30.1

In [122]:
# Assumant que 'glucosesupa125etBMIsupa30_df' est le DataFrame filtré
# et 'data_df' est le DataFrame original.

# 1. Trouver le nom de la colonne cible (à l'index 8)
target_column_name = data_df.columns[8]
print(f"Le nom de la colonne cible (index 8) est : '{target_column_name}'") # Ex: 'Outcome'

Le nom de la colonne cible (index 8) est : 'Outcome'

In [123]:
# 2. Sélectionner cette colonne dans le DataFrame *filtré*
target_column_filtered = glucosesupa125etBMIsupa30_df[target_column_name]

In [124]:
# 3. Calculer la moyenne de cette colonne (qui est la proportion de 1s)
proportion_pandas = target_column_filtered.mean()

In [125]:
# Afficher la proportion calculée
print(f"\nProportion de patients diabétiques parmi ceux avec Glucose > 125 ET BMI > 30 : {proportion_pandas:.4f}")
# Le :.4f formate le nombre à 4 décimales pour une meilleure lisibilité

Proportion de patients diabétiques parmi ceux avec Glucose > 125 ET BMI > 30 : 0.7009